---
import { type CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import DocsSideBarLanding from '../components/DocsSideBarLanding.astro'
import DocsFooter from '../components/DocsFooter.astro'
import { Link } from '@tailus-ui/typography'
import '@styles/pagefind.css'
import '@styles/color-theme.css'

import LogoClarity from '../components/LogoClarity.tsx';


import DocsPagination from '../components/DocsPagination.astro'
import DocsHeader2 from '../components/DocsHeader2.astro'
import { BlurDivs } from '@components/utilities/DocsProgressiveBlur'
import { Text } from '@tailus-ui/typography/Text'
import { Title } from '@tailus-ui/typography/Title'
import { ArrowTopRightIcon } from '@radix-ui/react-icons'
import Search from '@components/Search'
import PageLoader from '@components/utilities/PageLoader.astro'
import { ViewTransitions } from 'astro:transitions'
import { Bug, Lightbulb, MessageCircle } from 'lucide-react'
import { Image } from 'astro:assets'
import tlsBundle from '../images/tls-bundle-thumb.png'
import DocsBadge from '@components/DocsBadge'
import SeparatorBlockLanding from '@components/landing/separatorBlockLanding.astro'
import ContentSeparatorDocs from '@components/landing/contentSeparatorDocs.astro'
import DynamicImage from '@components/DynamicImage.astro'

import '../styles/landing.css';
import '../styles/fonts.css';


type Props = CollectionEntry<'html'>
const docs = Astro.props
const { collection } = docs as Props
const documentation = docs.data
console.log(documentation)
const { headings } = await docs.render()

const getGithubIssueUrl = (repo: string, template: string) => `https://github.com/Tailus-UI/${repo}/issues/new?assignees=&labels=&projects=&template=${template}&title=`
const getGithubDiscussionUrl = (repo: string) => `https://github.com/Tailus-UI/${repo}/discussions/new/choose`

const bugReportTemplate = '%F0%9F%90%9E-bug-report.md'
const newIdeasTemplate = '%F0%9F%92%A1-ideas-for-new-components--new-variants--examples--features-and-improvements-.md'
const repo = 'html.tailus.io'
---

<script>
    const options = {
        root: null,
        threshold: 0,
        rootMargin: '0px',
    }

    document.addEventListener('astro:page-load', () => {
        const headings = document.querySelectorAll('h1, h2')
        const headingLinks = document.querySelectorAll("a[href^='#']")
        const headingIndicator = document.querySelector('#heading-indicator') as HTMLElement

        const observer = new IntersectionObserver(function (entries) {
            entries.forEach((entry) => {
                const { id } = entry.target

                headingLinks.forEach((link) => {
                    const href = link.getAttribute('href')?.replace('#', '')

                    if (href === id) {
                        const { classList } = link

                        if (entry.isIntersecting) {
                            headingIndicator.style.top = `${(link as HTMLElement).offsetTop}px`
                            headingIndicator.style.height = `${(link as HTMLElement).offsetHeight}px`

                            classList.add('font-medium')
                            classList.replace('text-body', 'text-title')
                        } else {
                            classList.remove('font-medium')
                            classList.replace('text-title', 'text-body')
                        }
                    }
                })
            })
        }, options)

        headings.forEach((heading) => {
            observer.observe(heading)
        })
    })
</script>

<script is:inline>
    function setCustomization(document) {
        const theme = localStorage.getItem('theme') || 'dark'

        const root = document.documentElement.classList

        if (theme == 'dark') {
            root.add('dark')
        } else {
            root.remove('dark')
        }
    }

    setCustomization(document)

    document.addEventListener('astro:before-swap', (event) => {
        setCustomization(event.newDocument)
    })
</script>

<html class="scroll-smooth" lang="en" data-theme="maintheme-dark" data-rounded="xlarge" data-shade="900">
    <head>
        <BaseHead title={`${documentation.title} - Clarity UI ${collection.charAt(0).toUpperCase() + collection.slice(1)}`} description={documentation.description} />
        <ViewTransitions />
        <script src="/pagefind/pagefind-ui.js" is:inline></script>
    </head>
    <body class="LandingLayout grid grid-rows-[auto_1fr_auto] min-h-screen">
        <PageLoader />
        <header class="fixed top-0 left-0 right-0 z-10 h-[3.5rem] border-b border-edge-primary in-data-scroll-locked:pr-(--removed-body-scroll-bar-size) row-start-1 row-end-2 bg-color-header" style="transform: none;">
            <div class="grid justify-center lg:mx-auto grid-cols-1 md:grid-cols-[var(--width-gutter)_minmax(0,calc(var(--width-landing-container)-var(--width-gutter)*2))_var(--width-gutter)] h-full max-w-7xl">
                <div class="hidden col-start-1 border-x border-edge-primary md:block"></div>
                <div>
                    <div class="flex justify-between items-center px-4 h-full">
                        <a class="flex gap-1.5 items-center" href="/">
                            <div class="flex gap-3 items-center">
                               <LogoClarity client:only="react" />
                               Clarity
                            </div>
                          
                        </a>
                    </div>
                </div>
                <div class="hidden md:col-start-3 border-x border-edge-primary md:block"></div>
            </div>
        </header>
        <main class="pt-[56px] lg:mt-auto " data-pagefind-body>

            
            <div class="lg:mx-auto lg:flex l lg:gap-24 xl:px-0">
                <div id="menu-list" style="    width:14.5%;left:24px" class=" fixed bottom-0 left-0 z-50 hidden h-[calc(100dvh-5.75rem)] w-full bg-white lg:left-auto lg:flex lg:h-[calc(100dvh-4rem)] lg:w-48 lg:flex-col lg:justify-end lg:bg-transparent dark:bg-gray-925 dark:lg:bg-transparent" data-pagefind-ignore>
                    <DocsSideBarLanding target={collection} />
                </div>
                <div class="w-full lg:ml-auto">
                    <main class="row-start-2 row-end-3">
                        <div class="hidden md:grid justify-center lg:mx-auto  grid-cols-1 md:grid-cols-[1fr_minmax(0,var(--width-landing-container))_1fr]">
                            <div class="hidden col-start-1 md:block light:bg-surface-a1"></div>
                            <div class="relative border-r border-b-0 border-l GoldenRatioLayoutDesktop border-edge-primary">
                               <!--- <svg class="absolute inset-0 pointer-events-none overflow-visible text-decoration -m-[1.5px]" viewBox="0 0 340 210" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <path d="M105.1 -170.853L464.633 411.625" stroke="#1b1718" stroke-dasharray="4 12.56" vector-effect="non-scaling-stroke"></path>
                                        <path d="M-267.831 375.247L600.141 -159.777" stroke="#1b1718" stroke-dasharray="4 12.56" vector-effect="non-scaling-stroke"></path>
                                       
                                        <path d="M339.5 80.5H210" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
                                        <path d="M210 210V0.5" stroke="currentColor" vector-effect="non-scaling-stroke"></path>
                                    
                                        
                                        <path
                                            d="M239.897 60.3571C239.897 54.894 244.414 50.381 249.882 50.381C255.35 50.381 259.868 54.894 259.868 60.3571C259.868 71.2835 250.833 80.3095 239.897 80.3095C223.493 80.3095 209.941 66.7704 209.941 50.381C209.941 23.0652 232.527 0.499999 259.868 0.5C303.613 0.499995 339.75 36.6043 339.75 80.3095C339.75 151.33 281.027 210 209.941 210C95.1103 210 0.25 115.226 0.25 0.5C0.250008 -185.69 154.06 -339.5 340.25 -339.5"
                                            stroke="url(#paint0_linear_129_21)"
                                            vector-effect="non-scaling-stroke"
                                        ></path>
                                    </g>
                                    <defs>
                                        
                                    </defs>
                                </svg> -->
                                <div class="absolute inset-0 pointer-events-none text-surface-8">
                                   
                                    <svg class="absolute -left-[6.5px] -bottom-[6.5px]" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
                                        <path d="M6 0V12M0 6H12" stroke="currentColor"></path>
                                    </svg>
                                  
                                    <svg class="absolute -right-[6.5px] -bottom-[6.5px]" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" vector-effect="non-scaling-stroke">
                                        <path d="M6 0V12M0 6H12" stroke="currentColor"></path>
                                    </svg>
                                  
                                </div>
                                <div class="grid overflow-hidden relative GoldenLayoutTextDesktop">
                                    <div class="GoldenLayoutTextDesktopMainSquare  p-8  flex flex-col gap-6 lg:gap-8 row-[1/span_2] col-[1]">
                                        <div class="gap-6 p-6 w-full bg-gradient-to-br rounded-lg ring-1 ring-primary/20 to-primary/10 from-base-100/10 text-start sm:flex">
                                            <div class="flex flex-col gap-1.5 sm:w-7/12">
                                                <p class="text-lg font-semibold capitalize text-primary"> {documentation.badge && <DocsBadge badge={documentation.badge} />}</p>
                                                <h1 class="text-4xl font-bold leading-tight capitalize text-base-content/90"> {documentation.title}</h1>
                                                <p class="mt-2 text-base font-normal text-base-content/80">  {documentation.description}</p>
                                            </div>
                                            <div class="flex justify-center items-center grow max-sm:mt-5 max-sm:justify-start">
                                                <div class="svg-color-main GoldenLayoutTextDesktopRectangle p-4 flex flex-col gap-4 row-[1] col-[2]">
                                                    <DynamicImage name="button" />
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                


                                
                                        
                                        
                                           
                                      
                                      
                                    
                                       <!--- <div class="flex flex-1 gap-4 content-end pb-8">
                                           
                                        </div> -->
                                    </div>
                                
                                  <!---  <div class="GoldenLayoutTextDesktopSquare p-6 pt-4 lg:p-8 lg:pt-6 row-[2] col-[2]">
                                       
                                    </div> -->
                                </div>
                            </div>
                            <div class="hidden md:col-start-3 md:block light:bg-surface-a1"></div>
                        </div>
                        <SeparatorBlockLanding />
                            <ContentSeparatorDocs>
                                <div class="w-full xl:flex xl:gap-16">
                                    <div class="space-y-10 xl:w-full">
                                        <div>
                                        
                                            <div class="flex gap-4 mt-4">
                                                {
                                                    documentation.frameworkDocs && (
                                                        <Link className="flex items-center group" target="_blank" intent="neutral" variant="underlined" href={documentation.frameworkDocs.link}>
                                                            {documentation.frameworkDocs.name}
                                                            <ArrowTopRightIcon className="size-3 ml-1 opacity-50 transition group-hover:-translate-y-0.5 group-hover:translate-x-0.5" />
                                                        </Link>
                                                    )
                                                }
                                            </div>
                                        </div>
                                        <slot />
                                        <DocsPagination data-pagefind-ignore page={docs} collection={collection} />
                                        <div aria-hidden="true" class="pointer-events-none fixed inset-x-0 top-[3.3rem] mx-auto h-0 w-full -translate-y-px lg:top-6 lg:h-14">
                                            <BlurDivs />
                                        </div>
                                    </div>
                                    <div class="fixed right-[-71px] top-6">
                                        <div data-pagefind-ignore id="table-of-content" class="feedback-shadow fancy-border fixed right-4 top-24 ml-auto hidden size-fit rounded-[--card-radius] bg-[--ui-bg] p-[--card-padding] lg:sticky lg:top-32 lg:h-fit lg:w-[20rem] lg:rounded-none lg:!border-none lg:bg-transparent lg:p-0 lg:shadow-none lg:!outline-none xl:block">
                                            <div class="text-base font-medium text-[#b4b4b4]">On this page</div>
                                            <div class="relative ml-px mt-3 h-fit max-h-[calc(100vh-26rem)] w-fit overflow-y-auto">
                                                <div id="heading-indicator" aria-hidden="true" class="absolute left-0 top-0 z-[1] hidden border-l-[1.5px] border-primary transition-all duration-300 lg:block dark:border-white"></div>
                                                <ul class="relative space-y-0.5 border-l border-[var(--ui-border-color)]">
                                                    <li>
                                                        <a href="#overview" class="flex items-center px-3.5 py-0.5 text-xs font-medium text-gray-600 rounded-2xl transition duration-300 hover:text-info-600 dark:text-gray-400 dark:hover:text-info-400"> Overview</a>
                                                    </li>
                                                    {
                                                        headings.map((heading) => {
                                                            if (heading.depth === 1 || heading.depth === 2) {
                                                                return (
                                                                    <li class="pt-2 mt-0 mb-0">
                                                                        <a href={`#${heading.slug}`} class="flex items-center rounded-2xl px-3.5 py-0.5 text-[14px] font-medium text-[#4d4d4d] transition duration-300 hover:text-info-600  dark:hover:text-info-400 ">
                                                                            {heading.text}
                                                                        </a>
                                                                    </li>
                                                                )
                                                            }
                                                        })
                                                    }
                                                </ul>
                                            </div>
                
                                            <div class="mt-6">
                                                <div class="text-base font-medium text-[#b4b4b4]">Contribute</div>
                                                <div class="mt-2">
                                                    <a href={getGithubIssueUrl(repo, bugReportTemplate)} class="flex items-center gap-2 py-1 text-xs text-gray-600 transition duration-300 hover:text-gray-950 text-[#4d4d4d]">
                                                        <Bug className="size-3.5" />
                                                        Report a bug
                                                    </a>
                                                    <a href={getGithubIssueUrl(repo, newIdeasTemplate)} class="flex items-center gap-2 py-1 text-xs text-gray-600 transition duration-300 hover:text-gray-950 text-[#4d4d4d]">
                                                        <Lightbulb className="size-3.5" />
                                                        New Ideas
                                                    </a>
                                                    <a href={getGithubDiscussionUrl(repo)} class="flex items-center gap-2 py-1 text-xs text-gray-600 transition duration-300 hover:text-gray-950 text-[#4d4d4d]">
                                                        <MessageCircle className="size-3.5" />
                                                        Start a discussion
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                            </ContentSeparator> 
                        <SeparatorBlockLanding />
                        
                    </main>
                    <DocsFooter />
                </div>
            </div>
        </main>
        <Search client:load>
            <div id="search"></div>
        </Search>
    </body>
</html>
